<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()" style="margin-top: 20px;">
                Code Challenge - JULIANA ROSSI <small> &nbsp;(juliana.rossi@hotmail.com.ar)</small>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>
