<div ng-cloak>
    <canvas id="myCanvas" width="500" height="500" style="border:1px solid #d3d3d3;margin: auto;display: block;"></canvas>
    <br><br>
    <div class="row text-center">
        <button ng-click="vm.updateMatrix()" ng-disabled="vm.t" class="btn btn-primary btn-fill"> Next step</button>
        <button ng-click="vm.run()" ng-disabled="vm.t" class="btn btn-primary btn-fill"> Run</button>
        <button ng-click="vm.stop()" ng-disabled="vm.t == undefined" class="btn btn-primary btn-fill"> Stop</button>
    </div>
</div>